<style>
	body, html 
	{ 
        margin: 0;
        padding: 0;
    }

	#beside,#front-page
	{
		float:left;
	}

	#beside
	{
		width:15%;
	}

	#front-page
	{
		background-color:#1A1E23;
		text-align:left;
		width:70%;
		padding:1em;
		opacity: 0.9
	}

	#map
	{
		text-align:center;	
		width:90%; 
	}

	.Charm_Notch
	{	
		width:15%;
	}

	.container 
	{
    display: flex
    }

    .charm-table-style 
    {
    color: #f7f3e8; 
    border: 3px solid #6b8fb7; 
    border-collapse: collapse; 
    font-family: Arial, sans-serif;
    opacity: 1
	}

	.charm-table-style td 
    {
	border: 1px solid #4a4a68; 
	background-color: #1a1a2e;
	}

	.Return-to-homepage
	{
	float: right;
	width: 20%;
	}






	body {background-image:url("照片/封面.png");background-size:cover;background-attachment: fixed}

	h1{color:#D3D6DE}

	h2{color:#D3D6DE}

	p{color:#D3D6DE;text-indent: 50px;font-size:20px}

	table{text-align:center;color:#D3D6DE;width: 100%;margin: 0 auto;}




</style>
