<style>
	body, html 
	{ 
        margin: 0;
        padding: 0;
    }

	#beside,#front-page
	{
		float:left;
	}

	#beside
	{
		width:15%;
	}

	#front-page
	{
		background-color:#1A1E23;
		text-align:left;
		width:70%;
		padding:1em;
		opacity: 0.9
	}

	#introduce,#sheet
	{
		float:left;
	}

	#introduce
	{
		display: flex;
		height: 100%;
		width:60%;
		justify-content: center;
 		align-items: center;		
	}

	#sheet
	{
		display: flex;
		height: 100%;
		width:40%;		
		background-color:#1A1E23;
		justify-content: center;
		text-align:center;
	}

	#map
	{
		text-align:center;	
		width:90%; 
	}

	#Charms
	{
		text-align:center;	
		width:60%;
	}

	#Charm_Notch_td
	{
		text-align:center;
	}
	#Charm_Notch
	{	
		width:17%;
		margin: 0;
	}



	body {background-image:url("照片/封面.png");background-size:cover;background-attachment: fixed;text-align:center}

	h1{color:#D3D6DE}

	h2{color:#D3D6DE}

	p{color:#D3D6DE;text-indent: 50px;font-size:20px}

	table{text-align:center;color:#D3D6DE;width: 50%;margin: 0 auto;}




</style>
